<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books_info</title>
    <link rel="stylesheet" href="style.css">
</head>
<body id="book_data">
    
    <button onclick="window.location.href='http://127.0.0.1:5500/index.html'">
        Back
    </button>
    <br>
    <input id="Search" type="submit">
    <h1>Books Data</h1>
    <table id="book_table">
        <thead>
            <tr>
                <th>Book_id</th>
                <th>Book Name</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody id="table_body">

        </tbody>

    </table>
    <script async src="script.js"></script>
</body>
</html>