<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Managment System</title>
</head>
<body id="index">
    <button id="book-data-btn" onclick="window.location.href='http://127.0.0.1:5500/booksinfo.html'">
        Books data
    </button>
    <button id="search-btn">
        Search Book
    </button>
    <button id="add-data-btn">
        add book data
    </button>
    <button id="delete-data-btn">
        delete data
    </button>
    <script async src="script.js"></script>
</body>
</html>